#main-translation {
	position: absolute;
	z-index: 100;
	right: -300px;
	bottom: -300px;

	width: auto;
	height: auto;

	padding: 15px;
	background: white;
	border-radius: 1px;
	box-shadow: 0px 0px 10px black;
}
#main-translation > p {
	margin: 5px 0px;
}